#cont{
    background-color: #2f9e2f;
    margin-top: 0px;
    height: 80px; 
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 10px;
}
#lol{
    padding: 20px ;
    margin: 20px;
}
#lit {
 
} 